
<form action="/visit" method="POST" role="form">

<input type="text" class="form-control" placeholder="Имя">

<br></br>

<input type="text" class="form-control" placeholder="Телефон">

<br></br>

<input type="text" class="form-control" placeholder="Дата">

<br></br>

<p><select size="1" class="form-control">

<p/>


<br></br>

<input type="text" class="form-control" placeholder="Цвет">
</form>
</br>
<button type="button" class="btn btn-primary" id="button-submit">Записаться</button>
